.page {
  padding: 20px;
}

.main {
  max-width: 800px;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form input,
.form select,
.form button {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form button {
  background-color: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
}

.form button:hover {
  background-color: #005bb5;
}

.table {
  width: 80%;
  /* Cambiar el ancho de la tabla */
  border-collapse: collapse;
  margin: 20px auto;
  /* Centrar la tabla */
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: #f4f4f4;
}

.reputation {
  color: #FFA500;
  /* Color para la reputación, similar a Mercado Libre */
}

.table a {
  color: #0070f3;
  text-decoration: none;
}

.table a:hover {
  text-decoration: underline;
}